@use "../../foundation/import" as *;

.acordion {
	margin-top: 20px;
	&_btn {
		width: 30.6%;
		max-width: 300px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: pxToRem(14px);
		font-family: $hiragino-font;
		font-weight: 600;
		box-shadow: -4px -4px 10px #FFFFFF, 4px 4px 10px #A6ABBD;
		border-radius: 10px;
		color: $c-white;
		cursor: pointer;
		position: relative;
        margin: 0 auto;
		z-index: 1;
		&::after {
			content: '';
			width: 6px;
			height: 4px;
			background: url(../images/icon_acordion.svg) no-repeat center / cover;
			position: absolute;
			right: 23px;
			top: 50%;
			transform: translateY(-50%);
			transition: all .3s;
		}
		.on_txt {
			display: none;
		}
		&.on {
			&::after {
				transform: translateY(-50%) rotate(-180deg);
			}
			.on_txt {
				display: inline;
			}
			.off_txt {
				display: none;
			}
		}
	}
	&_content {
		display: none;
		background-color: $c-white;
		margin-top: -10px;
	}
}

@include media(sm) {
	.acordion {
		&_btn {
			width: 100%;
			max-width: none;
		}
	}
}